{
{{- if eq .machine_type "client" }}
  "defaultModel": "gpt-5-6-terra",
  "defaultProvider": "litellm",
  "defaultThinkingLevel": "low",
  "enabledModels": [
    "litellm/claude-haiku-4-5",
    "litellm/claude-sonnet-4-6",
    "litellm/claude-sonnet-5",
    "litellm/claude-opus-4-6",
    "litellm/claude-opus-4-8",
    "litellm/gemini-3.5-flash",
    "litellm/gpt-5-5",
    "litellm/gpt-5-6-sol",
    "litellm/gpt-5-6-terra",
    "litellm/gpt-5-6-luna"
  ],
{{- else }}
  "defaultThinkingLevel": "low",
{{- end }}
  "enableInstallTelemetry": false,
  "lastChangelogVersion": "0.80.6",
  "packages": [
    "npm:pi-lens@3.8.53",
    "npm:pi-mcp-adapter@2.10.0",
    "npm:@dkmnx/pi-clarify@0.1.9",
    "npm:@vanillagreen/pi-caveman@1.2.4",
    "npm:@gotgenes/pi-subagents@16.4.0",
{{- if eq .machine_type "personal" }}
    "npm:@ollama/pi-web-search",
{{- end }}
    "npm:pi-ghostty-notifier@0.1.3",
    "npm:@plannotator/pi-extension"
  ],
  "terminal": {
    "showTerminalProgress": true
  },
  "theme": "dracula",
  "pi-ghostty-notifier": {
    "level": "medium",
    "includeSummary": true,
    "bell": "actionable"
  },
  "vstack": {
    "extensionManager": {
      "config": {
        "@vanillagreen/pi-caveman": {
          "mode": "full"
        }
      }
    }
  }
{{- if eq .machine_type "personal" }}
 ,"defaultProvider": "openai-codex",
  "defaultModel": "gpt-5.6-sol"
{{- end }}
}
