{
{{- if eq .machine_type "client" }}
  "defaultModel": "gpt-5-5",
  "defaultProvider": "litellm",
  "defaultThinkingLevel": "low",
  "enabledModels": [
    "litellm/claude-haiku-4-5",
    "litellm/claude-sonnet-4-6",
    "litellm/claude-opus-4-6",
    "litellm/gpt-5-5"
  ],
{{- else }}
  "defaultThinkingLevel": "low",
{{- end }}
  "enableInstallTelemetry": false,
  "lastChangelogVersion": "0.75.3",
  "packages": [
    "npm:pi-lens@3.8.45",
    "npm:pi-mcp-adapter@2.6.1",
    "npm:@dkmnx/pi-clarify@0.1.9",
    "npm:@vanillagreen/pi-caveman@1.2.2"
  ],
  "terminal": {
    "showTerminalProgress": true
  },
  "theme": "dracula",
  "vstack": {
    "extensionManager": {
      "config": {
        "@vanillagreen/pi-caveman": {
          "mode": "full"
        }
      }
    }
  }
}
