{
{{- if eq .machine_type "client" }}
  "defaultThinkingLevel": "high",
  "defaultProvider": "vertex",
  "defaultModel": "claude-opus-4-6",
  "enabledModels": [
    "vertex/claude-haiku-4-5",
    "vertex/claude-sonnet-4-6",
    "vertex/claude-opus-4-6"
  ],
{{- else }}
  "defaultThinkingLevel": "low",
{{- end }}
  "enableInstallTelemetry": false,
  "lastChangelogVersion": "0.75.3",
  "packages": [
    "npm:pi-lens",
    "npm:@dkmnx/pi-clarify",
    "npm:@vanillagreen/pi-caveman"
  ],
  "terminal": {
    "showTerminalProgress": true
  },
  "theme": "dracula",
  "vstack": {
    "extensionManager": {
      "config": {
        "@vanillagreen/pi-caveman": {
          "mode": "full"
        }
      }
    }
  }
}
