# Managed by chezmoi - edit with: chezmoi edit ~/.gitconfig_local
# Machine type: {{ .machine_type }}
# To apply changes: chezmoi apply
# Generated: {{ now | date "2006-01-02" }}

{{- if eq .machine_type "client" }}
{{ (rbw "git-config-includes" "--folder" "dotfiles/client").notes }}
{{- end }}
