{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# .chezmoidata.yaml packages hash: {{ include ".chezmoidata.yaml" | sha256sum }}
set -eufo pipefail

echo "==> Installing Homebrew packages..."
brew bundle --global --verbose
echo "==> Homebrew package installation complete."
{{ end -}}
