{{- if eq .machine_type "client" -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>litellm-budget-overlay</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/open</string>
    <string>-W</string>
    <string>{{ .chezmoi.homeDir }}/.local/bin/LiteLlmBudgetOverlay.app</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
{{- end }}
