{{- $cc := rbwFields "claude-client-config" "--folder" "dotfiles/client" }}
notify = ["{{ .chezmoi.homeDir }}/.codex/computer-use/Codex Computer Use.app/Contents/SharedSupport/SkyComputerUseClient.app/Contents/MacOS/SkyComputerUseClient", "turn-ended"]
model = "gpt-5-5"
model_reasoning_effort = "xhigh"

{{- if eq .machine_type "client" }}
model_provider = "litellm"

[model_providers.litellm]
name = "LiteLLM"
base_url = "{{ $cc.litellm_url.value }}/v1"
env_key = "OPENAI_API_KEY"
wire_api = "responses"
{{- end }}

[mcp_servers.idea]
url = "http://127.0.0.1:64342/stream"

[mcp_servers.node_repl]
command = "/Applications/Codex.app/Contents/Resources/node_repl"
startup_timeout_sec = 120.0

[mcp_servers.node_repl.env]
BROWSER_USE_AVAILABLE_BACKENDS = "chrome,iab"
BROWSER_USE_MARKETPLACE_NAME = "openai-bundled"
CODEX_CLI_PATH = "/Applications/Codex.app/Contents/Resources/codex"
CODEX_HOME = "{{ .chezmoi.homeDir }}/.codex"
NODE_REPL_NATIVE_PIPE_CONNECT_TIMEOUT_MS = "1000"
NODE_REPL_NODE_MODULE_DIRS = ""
NODE_REPL_NODE_PATH = "/Applications/Codex.app/Contents/Resources/node"
NODE_REPL_TRUSTED_BROWSER_CLIENT_SHA256S = "167fdf579477181fba1773c1efb067b00c5a64fe85dafb50a2001bde198dc739"
NODE_REPL_TRUSTED_CODE_PATHS = "{{ .chezmoi.homeDir }}/.codex"
NODE_REPL_UNTRUSTED_ENV_ALLOWLIST = "BROWSER_USE_MARKETPLACE_NAME"

{{- if eq .machine_type "personal" }}
[mcp_servers.gitnexus]
command = "{{ .chezmoi.homeDir }}/.npm-global/bin/gitnexus"
args = ["mcp"]
{{- end }}

[marketplaces.openai-bundled]
last_updated = "2026-05-28T15:47:33Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.codex/.tmp/bundled-marketplaces/openai-bundled"

[features]
js_repl = false

[desktop]
conversationDetailMode = "STEPS_COMMANDS"
ambient-suggestions-enabled = false

[desktop.open-in-target-preferences]
global = "intellij"

[plugins."browser@openai-bundled"]
enabled = true

[tui.model_availability_nux]
"gpt-5.5" = 4

[projects."{{ .chezmoi.homeDir }}/.local/share/chezmoi"]
trust_level = "trusted"
