shell = "zsh"
apply = ["source"]

[plugins.evalcache]
github = "mroth/evalcache"

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

[templates]
defer = "{{`{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}`}}"

[plugins.compinit]
inline = '''
autoload -Uz compinit
if [[ -f "${ZDOTDIR:-$HOME}/.zcompdump" ]]; then
  compinit -C
else
  compinit
fi
'''

[plugins.fzf-tab]
github = "Aloxaf/fzf-tab"
apply = ["defer"]

[plugins.fzf-git]
github = "junegunn/fzf-git.sh"
apply = ["defer"]

[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"
apply = ["defer"]

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
apply = ["defer"]

[plugins.zsh-abbr]
{{- if eq .chezmoi.os "darwin" }}
local = "/opt/homebrew/share/zsh-abbr"
{{- else }}
local = "/home/linuxbrew/.linuxbrew/share/zsh-abbr"
{{- end }}
use = ["zsh-abbr.zsh"]
apply = ["defer"]

[plugins.ohmyzsh]
github = "ohmyzsh/ohmyzsh"
dir = "plugins"
use = ["{gitfast,zoxide,kubectl,gcloud,mvn,macos}/*.plugin.zsh"]
apply = ["defer"]

[plugins.dotfiles-sync]
local = "~/.zsh.d"
use = ["prompt.zsh", "external-sync.zsh", "completions-sync.zsh", "aliases.zsh", "functions.zsh", "variables.zsh", "keybinds.zsh"]
apply = ["source"]

[plugins.dotfiles-private]
local = "~/.zsh.d.private"
use = ["*.zsh"]
apply = ["source"]

[plugins.dotfiles-defer]
local = "~/.zsh.d"
use = ["external-defer.zsh", "sdkmanrc-shim.zsh", "completions-defer.zsh", "atuin.zsh", "carapace.zsh", "intelli-shell.zsh", "ssh-defer.zsh", "lens-completion.zsh", "projects.zsh", "worktrunk.zsh"]
apply = ["defer"]
